{% extends "base.html"%}

{% load static %}


{% block head_title %} {% endblock%}

{% block content %}
<center>
<h1>Selamat Datang {{ request.user }}</h1>

<div class="span2 menu">
  <a href="/tabungan" class="to_modal">
  <img class="wobble-horizontal" src="{% static 'icon/simpanan.png' %}" alt="" style="max-width:50%;" />
    <p><b>TABUNGAN</b></p>
  </a>
</div>	    

    <div class="span2 menu">
      <a href="/pinjaman" class="to_modal">
      <img class="wobble-horizontal" src="{% static 'icon/pinjaman.png' %}" alt="" style="max-width:50%;" />
        <p><b>PINJAMAN</b></p>
      </a>
    </div>	     
</center>
{% endblock %}





