<div>
    <ul>
        <li><a href="{% url 'home' %}">home</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">logout</a></li>
        {% else %}
            <li><a href="{% url 'register' %}">register</a></li>
            <li><a href="{% url 'login' %}">login</a></li>
        {% endif %}
    </ul>
</div>

<h1> {{ title }} </h1>

{{ request.user }}

{{ request.path }}

{{ user }}

{{ user.is_authenticated }}
{% if user.is_authenticated %}

<h1> User Only data </h1>
    {% for a in my_list %}

    {% endfor %}

{% endif %}

<p> ini HOME view</p>